# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

source-zlib
build-zlib-x64
build-zlib-x86
package-zlib-x64
package-zlib-x86
zlib-x64.zip
zlib-x86.zip

source-libpng
build-libpng-x64
build-libpng-x86
package-libpng-x64
package-libpng-x86
libpng-x64.zip
libpng-x86.zip

source-freetype
build-freetype-x64
build-freetype-x86
package-freetype-x64
package-freetype-x86
freetype-x64.zip
freetype-x86.zip
